.wrapper {
    position: relative;
}

.sendToBack {
    z-index: -1;
}

.top-left {
    position: absolute;
    top: 20%;
    left: 5%;
}

.top-left > * {
    font-family: "Pacifico";
    font-size: 3.5em;
    /* font-weight: bold; */
}
