.option-names {
    color: whitesmoke;
}

.sideBtns {
    /* border-radius: 5px; */
    /* border: 1px solid red;s */
}

.side-name {
    max-width: 100%;
}

/* .sideBtns:hover {
    background-color: rgb(27, 112, 112);
}

.sideBtns:active {
    background-color: rgb(7, 22, 36);
} */
