body,
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.graph {
    width: 100%;
}

.main-content-container {
    display: flex;
    margin: 0;
}

div.no-padding {
    padding: 0;
}

.quarter-height {
    height: 25%;
}

.three-quarter-height {
    height: 75%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.full-width {
    width: 100%;
}

.full-height-width {
    width: 100%;
    width: 100%;
}

.vertical {
    height: 100vh;
}

.quarter-viewport {
    height: 25vh;
}

div.full-viewport {
    height: 100vh;
}

/* div.sidenav-height {
     height: 100%; 
} */

div.fourby {
    border: 4px dashed lightseagreen;
    /* border-width: 4px; */
}

.icons {
    height: 100px;
    width: 100px;
}

@media (min-width: 1200px) {
    div.sidenav-height {
        height: 100vh;
    }
    .overflow {
        overflow-y: scroll;
    }
}
